* {
	margin: 0;
	padding: 0;
}

h1 {
	padding-top: 1em;
	text-align: center;
	color: white;
	font-size: 5em;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.container {
  background-image: url("img/motwss.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

#imgC {
	height: 200px; 
	width: 300px;.
}

#info{
	margin-top: 4em;
	margin-left: 2em;
}

#MAP {
	margin-top: 2em;
}

#map{
	text-align: center;
	height: 500px;
	width: 500px;
}