<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 51326b5340355f71ecae5538eecea80c1e4ce4e3
/* Main */

	#main {
		.content {
			background: _palette(bg);
			border-radius: _size(border-radius);
			box-shadow: 0px 0px 4px 1px _palette(border-lt);
			margin-bottom: _size(element-margin);
			padding: 3rem;

			@include breakpoint('<=medium') {
				padding: 2rem;
			}

			@include breakpoint('<=xsmall') {
				padding: 1.5rem;
			}
		}
<<<<<<< HEAD
=======
=======
/* Main */

	#main {
		.content {
			background: _palette(bg);
			border-radius: _size(border-radius);
			box-shadow: 0px 0px 4px 1px _palette(border-lt);
			margin-bottom: _size(element-margin);
			padding: 3rem;

			@include breakpoint('<=medium') {
				padding: 2rem;
			}

			@include breakpoint('<=xsmall') {
				padding: 1.5rem;
			}
		}
>>>>>>> 203bff500ee3a47cdeba7280eb4d50e3385a18cb
>>>>>>> 51326b5340355f71ecae5538eecea80c1e4ce4e3
	}